<h3>Add Address</h3>

<fieldset>
<p>

      
        <%= f.label :city %><br />
        <%= f.text_field :city %><br />
    

     
       <%= f.label :state %><br />
        <%= f.text_field :state %><br />
    

      <%= f.check_box :_destroy %>
      <%= f.label :_destroy, "Remove address" %>

    </p>
  </fieldset>

   