<div class="page-header">
  <%= link_to orders_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_order_path(@order), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show order</h1>
</div>

<dl class="dl-horizontal">
  <dt>Order no:</dt>
  <dd><%= @order.order_no %></dd>

  <dt>Tracking no:</dt>
  <dd><%= @order.tracking_no %></dd>

  <dt>Is express delivery:</dt>
  <dd><%= @order.is_express_delivery %></dd>

  <dt>Is customer pickup:</dt>
  <dd><%= @order.is_customer_pickup %></dd>

  <dt>Dilivery date:</dt>
  <dd><%= @order.dilivery_date %></dd>

  <dt>Order currency:</dt>
  <dd><%= @order.order_currency %></dd>

  <dt>Special instruction:</dt>
  <dd><%= @order.special_instruction %></dd>

  <dt>Order value:</dt>
  <dd><%= @order.order_value %></dd>

  <dt>User:</dt>
  <dd><%= @order.user_id %></dd>

  <dt>Address:</dt>
  <dd><%= @order.address_id %></dd>

</dl>
